@use "../../styles/assets" as *;

.landing {
  background: url("../images/bg.png");
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  background-blend-mode: darken;
  padding-top: 10vh;
}
.landing__heading {
  color: #fff;
  font-size: 2.5rem;
  width: 32%;
}

.landing__location {
  display: flex;
  flex-direction: column;
}

.location__box {
  background: white;
  border-radius: 10px;
  padding: 1rem 3rem;
  display: flex;
  gap: 1rem;
  margin: 0 1.2rem;
  justify-content: space-between;

  button {
    background: $blue;
    padding: 0.5rem;
    border-radius: 5px;
  }
}

.feature {
  padding: 3rem;
  color: $black;
}

.feature__box {
  display: flex;
}

.feature__img {
  width: 40%;
  padding: 3rem;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
  align-content: center;
}

.feature__unique {
  display: flex;
  flex-direction: column;
  width: 10rem;
  gap: 1rem;

  div {
    padding: 0.5rem;
    border-radius: 5px;
    width: fit-content;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.301);
    img {
      width: 2rem;
    }
  }
  p {
    font-weight: 600;
  }
}

.property {
  padding: 3rem;
}

.property__heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.property__box {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;

  button {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.144);
    color: $orange;
    background: none;
    text-transform: capitalize;
    &:last-child {
      border-radius: 0 5px 5px 0px;
    }
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
  }
}
