@use "../../styles/assets" as *;
// check
.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  color: #fff;
}

.nav-logo {
  z-index: 2;
}
.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  flex-grow: 0.8;
  justify-content: center;
}
.close {
  display: none;
}

@media screen and (max-width: 720px) {
  .hamburger {
    display: flex;
  }
  .navbar {
    justify-content: space-between;
  }

  .hamburger[aria-expanded="false"] + .nav-links {
    opacity: 0;
    transform: translateX(-200vw);
  }

  .hamburger[aria-expanded="false"] ~ .close {
    display: none;
  }

  .nav-links {
    transform: translateX(0);
    opacity: 1;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 100vh;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #414259;
  }

  .close {
    position: absolute;
    display: flex;
    top: 3rem;
    right: 2rem;
    z-index: 1;
  }
}
